<div class="controll-add">
    <input id="name_field" type="Text" class="form-control" placeholder="name"/>
    <input id="number_field" type="Text" class="form-control" placeholder="number"/>
</div>
<div>
    <input type="button" class="butadd" value="Добавить" onclick="add()"/>
    {{cancelButton}}
</div>